<div class="col-sm-12 col-md-6 offset-md-3">
  <h2>Login Form Demo</h2>

  <%= render partial: 'shared/alerts' %>

  <div class="card">
    <div class="card-body">
      <p><%= @message %></p>
      <p><a href="/users/logout">&raquo; Log out now</a></p>
    </div>
  </div>
</div>
