<% if flash[:notice] %>
  <div class="alert alert-success" role='alert'>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger" role='alert'>
    <%= flash[:error] %>
  </div>
<% end %>